@model IEnumerable<PartsInventory.Models.Post>
@{
    ViewData["Title"] = "Blog Website";
    ViewData["Description"] = "This Blog Has Everything";
    ViewData["Keywords"] = "Blog programing travel photography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Home Page!</h2>
    <img src="~/content/static/repais.jpg" width="500"/>
*@
<div class="main-img">
    <span class="title">Amazing Blog Site</span>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="card-my-4 mt-5">
                Best Appliances Repair & install
                <br><small>Blogs for  @DateTime.Now.Year</small>
            </h1>
            <hr />
            <div class="card card-4 mt-5">
                <div class="thumbnail-area">
                    
                        <ul>
                              @foreach (var post in Model)
                              {
                                  <li>
                                      <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                                          @post.Title
                                      </a>
                                  </li>
                              }
                          </ul>
                    @*

                    @foreach (var post in Model.Posts)
                    {

                        var image_path = $"/Image/{post.Image}";
                        <a class="post" asp-controller="Post" asp-action="Detail" asp-route-id="@post.Id">
                            <img style="width:100%" class="img-thumbnail" src="@image_path" />
                            <span class="title">
                                @post.Title
                            </span>
                        </a>

                    }
                    @if (Model.PageNumber > 1)
                    {
                        <a class="btn btn-info" asp-action="Index" asp-controller="Post" asp-route-category="@Model.Category"
                           asp-route-pageNumber="@(Model.PageNumber - 1)">Previous Page</a>
                    }
                    @if (Model.NextPage)
                    {
                        <a class="btn btn-info" asp-action="Index" asp-controller="Post" asp-route-category="@Model.Category"
                           asp-route-pageNumber="@(Model.PageNumber + 1)">Next Page</a>
                    }
                    *@
                </div>
            </div>
        </div>
    </div>
</div>



